# Ignore Python virtual environment folder
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/


# macOS and Linux
.DS_Store
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log and coverage files
*.log
*.coverage
htmlcov/

