albumentations==2.0.8
Flask==3.1.1
Flask_Bcrypt==1.0.1
flask_cors==5.0.1
gTTS==2.5.4
langchain==0.3.25
langchain_community==0.3.25
langchain_core==0.3.65
langchain_ollama==0.3.3
nougat==0.3.3
numpy==2.3.0
ollama==0.5.1
pdfplumber==0.11.5
Pillow==11.2.1
pydantic==2.11.7
PyJWT==2.10.1
PyJWT==2.10.1
pymongo==4.13.2
python-dotenv==1.1.0
Requests==2.32.4
timm==1.0.15
torch==2.6.0
transformers==4.50.1
waitress==3.0.2
Werkzeug==3.1.3
